@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rotonda';
    src: url('../fonts/RotondaBold.eot');
    src: url('../fonts/RotondaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RotondaBold.woff2') format('woff2'),
        url('../fonts/RotondaBold.woff') format('woff'),
        url('../fonts/RotondaBold.ttf') format('truetype'),
        url('../fonts/RotondaBold.svg#RotondaBold') format('svg');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'RotondaC';
    src: url('../fonts/RotondaC.eot');
    src: url('../fonts/RotondaC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RotondaC.woff2') format('woff2'),
        url('../fonts/RotondaC.woff') format('woff'),
        url('../fonts/RotondaC.ttf') format('truetype'),
        url('../fonts/RotondaC.svg#RotondaC') format('svg');
    font-weight: normal;
    font-style: normal;
}



h1 {
    font-family: 'RotondaC';
    font-style: bold;
    font-size: 42px;
    letter-spacing: 3%;
    color: #09447a;
    line-height: 52px;
}

@media (max-width: 991px) {
  h1 {
      text-align: center;
      font-size: 34px;
      line-height: 44px;
    }
}

h2 {
    font-family: 'RotondaC';
    font-style: bold;
    font-size: 32px;
    letter-spacing: 3%;
    color: #09447a;
}

@media (max-width: 991px) {
  h2 {
      text-align: center
    }
}

h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: white;
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
  h3 {
      text-align: center;
      font-size: 22px;
      line-height: 25px;
    }
}

h4 {
    font-family: 'RotondaC';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    z-index: 10;
}

@media (max-width: 991px) {
  h4 {
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      max-width: 300px;
      margin: 0 auto;
    }
}

p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    position: relative;
    z-index: 10;
}

@media (max-width: 991px) {
  p {
      text-align: center
    }
}

.relative {
    position: relative;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    display: block;
    position: relative;
    z-index: 15;
    margin-top: 35px;
    cursor: pointer;
}

.header {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 500px;
    border-bottom: 10px solid white;
    overflow: hidden
}

.header__bottom-text {
    position: absolute;
    bottom: 10px;
    left: 11px;
    max-width: 181px;
    opacity: 0.5;
}

.header__bottom-text p {
    font-family: RotondaC;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 102%;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: left !important;
}

.header__banner {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-top: -90px;
}

@media (max-width: 1200px) {
  .header__banner {
      align-items: center;
      margin-top: -20px;
    }
}

@media (max-width: 575px) {
  .header__banner {
      flex-direction: column-reverse;
    }
}

.header__banner img {
    max-width: 100%;
    width: 100%;
}

.header__left {
    width: 100%;
}

@media (max-width: 575px) {
  .header__left {
      max-width: 340px;
      margin-top: -25px;
    }
}

.header__right {
    width: 100%;
}

@media (max-width: 575px) {
  .header__right {
      max-width: 265px;
      margin-top: -10px;
    }
}

.header__right img {
    width: 100%;
    max-width: 545px;
    display: block;
    margin-left: auto;
}

.abs-top-bears {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.abs-white-ellips {
    left: 30%;
    top: 0;
    position: absolute;
}

.abs-bears {
    position: absolute;
    display: block;
    bottom: 280px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.abs-content-ellips {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
}

.abs-content-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255, 0.7);
    z-index: 4;
}

.content {
    overflow: hidden;
    position: relative;
    background-position: bottom;
    background-size: cover;
}

.section-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    margin-top: 100px;
}

@media (max-width: 991px) {
  .section-first {
      flex-direction: column;
      margin-top: 45px;
    }
}

.section-second {
    position: relative;
    z-index: 10;
    margin-top: 110px;
}

@media (max-width: 991px) {
    .section-second {
        margin-top: 60px;
    }
}

.section-second__inner {
    width: 100%;
    max-width: 1035px;
}

@media (max-width: 1200px) {
  .section-second__inner {
        max-width: 100%;
    }
}

.section-second .heading {
    margin-bottom: 40px;
}

.section-second .heading h2 {
    margin-bottom: 20px;
}

.section-second .heading p {
    max-width: 325px;
}

@media (max-width: 991px) {
    .section-second .heading {
        max-width: 325px;
        margin: 0 auto 10px auto;
    }   
}

@media (max-width: 991px) {
    .section-second .slide p {
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
    }   
}

.section-first .heading h3 {
    margin-top: 40px;
}

@media (max-width: 991px) {
    .section-first .heading h3 {
        font-size: 18px;
        line-height: 25px;
        font-style: normal;
        font-weight: normal;
        margin-top: 25px;
        margin-bottom: 35px;
    }
}

@media (max-width: 991px) {
    .section-second .heading h2 {
        font-size: 30px;
        line-height: 38px;
        max-width: 200px;
        margin: 0 auto 20px auto;
    }   
}

.section-third {
    position: relative;
    z-index: 10;
    margin-top: 110px;
}

@media (max-width: 991px) {
    .section-third {
        margin-top: 90px;
    }   
}

.section-first .heading {
    margin-right: 35px;
    max-width: 285px;
    width: 100%;
}

@media (max-width: 991px) {
    .section-first .heading {
        margin-right: 0;
        max-width: 385px;
        width: 100%;
        margin: 0 auto
    }   
}

.section-last {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    margin-top: 110px;
    margin-bottom: 60px;
}

@media (max-width: 991px) {
    .section-last {
        margin-top: 50px;
        margin-bottom: 10px;
    }
}

@media (max-width: 991px) {
  .section-third p {
      max-width: 300px;
      margin: 0 auto;
    }
}

.barni-bottom {
    width: 50%;
    margin-top: 185px;
}

@media (max-width: 1200px) {
  .barni-bottom {
      width: 33.3%;
      margin-top: 125px;
    }
}

@media (max-width: 991px) {
  .barni-bottom {
      width: 100%;
      margin-top: 5px;
    }
}

.barni-bottom img {
    display: block;
    margin-left: auto;
    max-width: 465px;
    width: 100%;
}

.slider-4 {
    width: 50%;
}

@media (max-width: 1200px) {
  .slider-4 {
      width: 66.6%;
    }
}

@media (max-width: 991px) {
  .slider-4 {
      width: 50%;
    }
}

@media (max-width: 767px) {
  .slider-4 {
      width: 0;
      display: none
    }
}

.slide {
    margin-right: 50px;
    position: relative;
    z-index: 10;
}

@media (max-width: 991px) {
    .slide {
        margin-right: 0;
    }   
}

.slide:last-of-type {
    margin-right: 0;
}

@media (max-width: 767px) {
    .slide__empty {
        display: none;
    }
}

.slide:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.slider-1 img {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
}


.slider-2__image {
    min-height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 260px;
    margin: 0 auto;
}

@media (max-width: 575px) {
    .slider-2__image {
        max-width: 230px;
        margin: 0 auto;
    }
}

.slider-3__image {
    min-height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .slider-3__image {
        max-width: 280px;
        margin: 0 auto;
    }
}

.slider-2 img {
    width: 100%;
    margin: 0 auto;
}

.slider-3 img {
    width: 100%;
    margin: 0 auto;
}

.slider-4 img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .slider-4 img {
        max-width: 300px;
    }
}

.slider-1__image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 40px;
    padding-bottom: 20px;
}

.slider-1__label {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 15;
}

@media (max-width: 991px) {
  .slider-1__label {
      display: none !important;
    }
}

.slider-2__image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider-3__image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slick-slide {
    height: auto;
}

.slick-next {
    right: 0;
    z-index: 10;
}

.slick-prev {
    left: 0;
    z-index: 10;
}

.slick-next:before {
    width: 31px;
    height: 31px;
    content: url('../images/Arrow.svg');
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.slick-prev:before {
    width: 31px;
    height: 31px;
    transform: rotate(180deg);
    content: url('../images/Arrow.svg');
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.footer {
    background-color: white;
}

.footer p {
    text-align: left;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #001520;
    opacity: 0.5;
}

@media (max-width: 991px) {
    .footer p {
        padding: 10px 0;
    }
}